body {
  height: 100vh;
  margin: auto;
}

body * {
  box-sizing: border-box;
}

.title {
  display: flex;
  justify-content: space-around;
  height: 10%;
  width: 100%;
  border: 1px solid black;
}

h1 {
  margin: auto;
}

.game-content {
  display: flex;
  justify-content: space-around;
  height: 90%;
  border: 1px solid black;
}

.game-content > * {
  align-items: center;
  border: 1px solid black;
  padding: 2rem;
}

.stats-area {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 30%;
}

h2 {
  margin: 0;
}

.stat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 10%;
  border: 1px solid black;
}

.game-area {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
}

.card {
  width: 15%;
  height: 30%;
  border: 1px solid black;
}
