@font-face {
  font-family: "Fedora";
  src: url(../fonts/sf-fedora.ttf);
}

body {
  height: 100vh;
  margin: auto;
  background-image: url(../images/JJBA-background.png);
  background-size: cover;
  background-position: 50% 50%;
  font-family: "Fedora", Tahoma, Geneva, Verdana, sans-serif;
  color: #d3008c;
  text-shadow: -0.3vmin 0.3vmin black;
}

body * {
  box-sizing: border-box;
}

hr {
  height: 0.1vmin;
  width: 95%;
    border: 1px solid #b177fd;
}

.flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.start-modal, .gameover-modal {
  flex-direction: column;
  position: absolute;
  height: 80%;
  width: 70%;
  background-color: rgb(200, 200, 200);
  background-size: contain;
  background-position: 100% 40%;
  background-repeat: no-repeat;
  padding: 1%;
  text-align: center;
  font-size: 3vmin;
  border: 0.3vmin outset #b177fd;
  border-radius: 2vmin;
}

.start-modal {
  background-image: url(../images/darby.png);
}

.gameover-modal {
 background-image: url(../images/yare-yare.png);
}

.rules, .congratulations {
  display: inline-block;
  position: relative;
  width: 50%;
  left: -20%;
  text-align: left;
}

.start-button, .reset-button {
  width: 50%;
  height: 12%;
  background-image: linear-gradient(rgba(220, 220, 220), rgba(150, 150, 150));
  font-size: 5vmin;
  border: 0.3vmin outset #b177fd;
  border-radius: 1vmin;
}

.start-button:hover, .reset-button:hover {
  cursor: pointer;
}

.start-button:active, .reset-button:active {
  background-image: linear-gradient(rgba(150, 150, 150), rgba(220, 220, 220));
}

.title {
  height: 10%;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  font-size: 2.8vmin;
  text-align: center;
}

.game-content {
  display: flex;
  justify-content: space-around;
  height: 90%;
}

.game-content > * {
  align-items: center;
  padding: 2vmin;
}

.stats-area {
  flex-direction: column;
  width: 30%;
  border: 0.3vmin outset #b177fd;
  margin: 1%;
  padding: 2%;
  background-image: linear-gradient(rgba(230, 230, 230, 0.90), rgba(180, 180, 180, 0.90));
}

.stat {
  width: 90%;
  height: 10%;
  font-size: 3vmin;
  text-align: center;
}

.stat-head {
  font-size: 3.5vmin;
}

h1,
h2 {
  margin: 0;
}

.game-area {
  position: relative;
  flex-wrap: wrap;
  width: 70%;
}

.card {
  position: absolute;
  width: 15%;
  height: 30%;
  top: 0%;
  left: 0%;
  transition: all 0.5s;
  transform-style: preserve-3d;
  background-color: white;
  border: 0.4vmin ridge white;
  border-radius: 1vmin;
}
.card:hover {
  cursor: pointer;
  width: 13.5%;
  height: 27%;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  border-radius: 1vmin;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url(../images/JJBA-logo.jpg);
}

.hidden {
  visibility: hidden;
}

.joseph {
  background-image: url(../images/joseph.png);
}

.jotaro {
  background-image: url(../images/jotaro.png);
}

.kakyoin {
  background-image: url(../images/kakyoin.jpg);
}

.avdol {
  background-image: url(../images/avdol.png);
  background-position: 50% 25%;
}

.polnareff {
  background-image: url(../images/polnareff.png);
  background-position: 75% 30%;
}

.iggy {
  background-image: url(../images/iggy.jpg);
  background-position: 15% 40%;
}

.holly {
  background-image: url(../images/holly.png);
  background-position: 60% 30%;
}

.dio {
  background-image: url(../images/dio.jpg);
}

.enyaba {
  background-image: url(../images/enyaba.png);
  background-position: 60% 30%;
}
