@font-face {
  font-family: "Fedora";
  src: url(../fonts/SF\ Fedora.ttf)
}

body {
  height: 100vh;
  margin: auto;
  background-image: url(../images/JJBA-background.png);
  background-size: cover;
  background-position: 50% 50%;
  font-family: 'Fedora', Tahoma, Geneva, Verdana, sans-serif;
  color: #d3008c;
  text-shadow: -0.3vmin 0.3vmin black;
}

body * {
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gameover-modal {
  flex-direction: column;
  position: absolute;
  height: 70%;
  width: 50%;
  background-color: rgb(200, 200, 200);
  padding: 1%;
  text-align: center;
  font-size: 3vmin;
  border: 3px outset #b177fd;
}

.reset-button {
  width: 50%;
  height: 20%;
  background-color: rgb(200, 200, 200);
  font-size: 5vmin;
  border: 3px outset #b177fd;
}

.reset-button:hover {
  cursor: pointer;
}

.reset-button:active {
  filter: brightness(75%)
}

.title {
  height: 10%;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.75);
  border-bottom: 0.3vmin outset #b177fd;
  font-size: 2.8vmin;
  text-align: center;
}

.game-content {
  display: flex;
  justify-content: space-around;
  height: 90%;
}

.game-content > * {
  align-items: center;
  padding: 2vmin;
}

.stats-area {
  flex-direction: column;
  width: 30%;
}

.stats-area > * {
  width: 90%;
  height: 10%;
  border: 0.3vmin outset #b177fd;
  font-size: 3vmin;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.75);
}

.stat-head {
  font-size: 3.5vmin;
}

h1, h2 {
  margin: 0;
}

.game-area {
  flex-wrap: wrap;
  width: 70%;
}

.card {
  width: 15%;
  height: 30%;
  transition-duration: 0.5s;
  transform-style: preserve-3d;
  border: 0.4vmin ridge white;
  border-radius: 1vmin;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  border-radius: 1vmin;
}

.front {
  background-color: white;
  transform: rotateY(180deg);
}

.back {
  background-image: url(../images/JJBA-logo.jpg);
}

.flipped {
  transform: rotateY(180deg);
}

.hidden {
  visibility: hidden;
}

.joseph {
  background-image: url(../images/joseph.png);
}

.jotaro {
  background-image: url(../images/jotaro.png);
}

.kakyoin {
  background-image: url(../images/kakyoin.jpg);
}

.avdol {
  background-image: url(../images/avdol.png);
  background-position: 50% 25%;
}

.polnareff {
  background-image: url(../images/polnareff.png);
  background-position: 75% 30%;
}

.iggy {
  background-image: url(../images/iggy.jpg);
  background-position: 15% 40%;
}

.holly {
  background-image: url(../images/holly.png);
  background-position: 60% 30%;
}

.dio {
  background-image: url(../images/dio.jpg);
}

.enyaba {
  background-image: url(../images/enyaba.png);
  background-position: 60% 30%;
}
