@font-face {
  font-family: "Fedora";
  src: url(fonts/sf-fedora.ttf);
}

body {
  height: 100vh;
  margin: auto;
  background-image: url(images/JJBA-background.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-family: "Fedora", Tahoma, Geneva, Verdana, sans-serif;
  color: #d3008c;
  text-shadow: -0.3vmin 0.3vmin black;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

body * {
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
}

hr {
  height: 0.1vmin;
  width: 95%;
    border: 1px solid #b177fd;
}

.start-modal, .gameover-modal {
  flex-direction: column;
  position: absolute;
  height: 80%;
  width: 70%;
  background-color: rgb(200, 200, 200);
  background-size: contain;
  background-position: 100% 40%;
  background-repeat: no-repeat;
  padding: 1%;
  text-align: center;
  font-size: 3vmin;
  border: 0.3vmin outset #b177fd;
  border-radius: 2vmin;
}

.start-modal {
  background-image: url(images/darby.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 50%;
}

.gameover-modal {
  background-image: url(images/yare-yare.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.controls {
  display: inline-block;
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  filter: opacity(50%);
}

.readability-button {
  display: inline-block;
  width: 120px;
  height: 20px;
  background-image: url(images/readability-off.png);
  background-size: contain;
}

.readability-button:hover {
  cursor: pointer;
}

.mute-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(images/mute.png);
  background-size: contain;
}

.mute-button:hover {
  cursor: pointer;
}

.easy-read {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: -0.1vmin 0.1vmin black;
}

.flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rules, .congratulations {
  display: inline-block;
  position: relative;
  width: 50%;
  left: -20%;
  text-align: left;
}

.start-button, .reset-button {
  width: 50%;
  height: 12%;
  background-image: linear-gradient(rgba(220, 220, 220), rgba(150, 150, 150));
  font-size: 5vmin;
  border: 0.3vmin outset #b177fd;
  border-radius: 1vmin;
}

.start-button:hover, .reset-button:hover {
  cursor: pointer;
}

.start-button:active, .reset-button:active {
  background-image: linear-gradient(rgba(150, 150, 150), rgba(220, 220, 220));
}

.title {
  height: 10%;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  font-size: 2.8vmin;
  text-align: center;
}

.game-content {
  display: flex;
  justify-content: space-around;
  height: 90%;
}

.game-content > * {
  align-items: center;
  padding: 2vmin;
}

.stats-area {
  flex-direction: column;
  width: 30%;
  border: 0.3vmin outset #b177fd;
  margin: 1%;
  padding: 2%;
  background-image: linear-gradient(rgba(230, 230, 230, 0.90), rgba(180, 180, 180, 0.90));
  height: 90%;
}

.stat {
  width: 90%;
  height: 10%;
  font-size: 3vmin;
  text-align: center;
}

.stat-head {
  font-size: 3.5vmin;
}

.game-area {
  position: relative;
  flex-wrap: wrap;
  width: 70%;
}

.card {
  position: absolute;
  width: 15%;
  height: 30%;
  top: 0%;
  left: 0%;
  transition: all 0.25s;
  transform-style: preserve-3d;
  background-color: white;
  border: 0.4vmin ridge white;
  border-radius: 1vmin;
}

.active-card:hover {
  cursor: pointer;
  width: 14.5%;
  height: 29%;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  border-radius: 1vmin;
}

.front {
  transform: rotateY(180deg);
}

.hidden {
  visibility: hidden;
}

.back {
  background-image: url(images/JJBA-logo.jpg);
}

.Joseph {
  background-image: url(images/joseph.png);
}

.Jotaro {
  background-image: url(images/jotaro.png);
}

.Kakyoin {
  background-image: url(images/kakyoin.jpg);
}

.Avdol {
  background-image: url(images/avdol.png);
  background-position: 50% 25%;
}

.Polnareff {
  background-image: url(images/polnareff.png);
  background-position: 75% 30%;
}

.Iggy {
  background-image: url(images/iggy.jpg);
  background-position: 15% 40%;
}

.Holly {
  background-image: url(images/holly.png);
  background-position: 60% 30%;
}

.Dio {
  background-image: url(images/dio.jpg);
}

.Enyaba {
  background-image: url(images/enyaba.png);
  background-position: 60% 30%;
}

@media only screen and (max-width: 770px) {

  hr {
    display: none;
  }

  .title {
    height: 18%;
    font-size: 4vmin;
  }

  .game-content {
    height: 82%;
    flex-direction: column;
    align-items: center;
  }

  .stats-area {
    flex-direction: row;
    flex-wrap: wrap;
    height: 20%;
    width: 100%;
  }

  .stat-head {
    width: 100%;
  }

  .stat-container {
    display: flex;
    flex-direction: column;
    width: 33%;
  }

  .stat {
    font-size: 3.5vmin;
  }

  .game-area {
    height: 80%;
    width: 100%;
  }

  .rules, .congratulations {
    width: 100%;
    left: 0;
    text-align: center;
  }
 }
